<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body dir="rtl">
<div>
  <div align="left" style="margin-left: 180px">
    <label for="phone">شماره سریال:</label>
    <input type="text" id="phone" name="phone">
  </div>
  <div align="left" style="margin-left: 180px">
    <label for="fname">تاریخ:</label>
    <input type="text" id="fname" name="fname">
    <h2 align="center"><b> صورتحساب فروش كالا و خدمات </b></h2>
  </div>
</div>
<app-specification titel1="مشخصات فروشنده"></app-specification>
<app-specification titel1="مشخصات خریدار"></app-specification>

<app-products></app-products>

</body>
